.tabs-container {

    .tab {
        display: flex;
        padding: 10px;
        text-align: center;
        align-items: baseline;
        background-color: lightgray;
        cursor: pointer;
        font-size: 15px;
        border: 1px solid black;
        margin-right: 8px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;

        &:hover {
            background-color: lightblue;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }

        &.active {
            color: white;
            background-color: rgb(54, 54, 165);
        }
    }

    .tab p {
        align-items: center;
        margin-right: 20px;
    }

    .close-icon {
        background-color: lightblue;
        cursor: pointer;
    }
}