<div class="tabs-container">
  <ul class="nav nav-tabs">
    <li *ngFor="let tab of tabs; index as currentTab" class="tab" [ngClass]="{'active': currentTab === selectedTab }" (click)="selectTab(currentTab)">
      <ng-container *ngIf="isString(tab.title); else displayTemplate">
        <p class="title">{{ tab.title }}</p>
      </ng-container>
      <ng-template #displayTemplate>
        <ng-container [ngTemplateOutlet]="tab.title"></ng-container>
      </ng-template>
      <button class="close-icon" (click)="closeTab(currentTab, $event)">X</button>
    </li>
  </ul>
  <ng-content></ng-content>
</div>