<app-tab-list (removeTab)="removeCurrentCondition($event)">
  <app-tab 
    *ngFor="let location of currentConditionsByZip()" 
    [title]="getLocationTitle(location)" 
    [singleData]="location"
    [content]="weatherTemplate">
  </app-tab>
</app-tab-list>

<ng-template #weatherTemplate let-location>
    <div class="well flex" (click)="showForecast(location.zip)">
      <div>
        <h3>{{ location.data.name }} ({{ location.zip }})</h3>
        <h4>Current conditions: {{ location.data.weather[0].main }}</h4>
        <h4>Temperatures today:</h4>
        <p>
          Current {{ location.data.main.temp | number : ".0-0" }} - Max
          {{ location.data.main.temp_max | number : ".0-0" }} - Min
          {{ location.data.main.temp_min | number : ".0-0" }}
        </p>
        <p>
          <a [routerLink]="['/forecast', location.zip]"
            >Show 5-day forecast for {{ location.data.name }}</a
          >
        </p>
      </div>
      <div>
        <img
          [src]="weatherService.getWeatherIcon(location.data.weather[0].id)"
        />
      </div>
    </div>
</ng-template>


<!-- TEST TEMPLATE CONTEXT FOR SAME COMP -->
<!-- <app-tab-list>
  <app-tab title="Hello, Click me" [content]="presentationTemplate"> </app-tab>
  <ng-template #presentationTemplate>
    <span><h1>Greetings</h1></span> <br>
    <p>My name is Mohamed GUEYE. </p> <br>
    <p>I love to code and I am really excited by angular 17, nice to meet you.</p> <br>
    <p>Have a nice day :)</p> 
  </ng-template>
</app-tab-list> -->