<div class="well">
  <h2>Enter a zipcode:</h2>
  <input type="number" #zipcode placeholder="Zipcode" class="form-control">
  <br>
  <button class="btn btn-primary" (click)="addLocation(zipcode.value)">
    Add location
  </button>
  <h2>Enter a timeout (minutes):</h2>
    <input type="number" #timeout placeholder="timeout for cache in minutes" [value]="defaultTimeoutValue" class="form-control">
  <br>
  <button class="btn btn-primary" (click)="saveTimeout(timeout.value)">
    Save timeout
  </button>
  <br>
</div>
